
body
{
    background-color: #fff6e7;
    padding: 0 5%;
    font-family: calibri, helvetica, serif;
    font-size: 12pt;
}

br.example-break { display: none; }
br.figure-break { display: none; }
br.equation-break { display: none; }

div.note
{
    margin-left: 50%;
}

div.example p.title
{
    text-align: center;
}

pre.programlisting
{
    font-family: consolas, monospace;
    font-size: 12pt;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #dbeded;
    background-image: -moz-linear-gradient(left, #dbeded, #fff6e7);
    padding: 7px;
    border: 2px dashed black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

code
{
    font-family: consolas, monospace;
}

code.function { color: #a00010; }

code.varname { color: #d300ff; }

code.filename {  }

code.literal { color: #0f0aae; }

span.type {  }
code.classname {  }

em.glossterm { text-decoration: underline; }

acronym.acronym { font-weight: bold; }
span.propername { font-weight: bold; }


/* Code documentation. */
span.code-type { color: #7B7BC0;}
span.code-modifier { color: #0000FF;}
span.code-sampler { color: #0f0aae;}
span.code-keyword { color: #0000FF;}
span.code-function { color: #a00010;}

span.code-comment {color: #FF0000;}
span.code-string { color: #008000; }






